.widget-text {
  background-color: #ec663c;
}

.title {
  color: rgba(255, 255, 255, 0.7);
}

.more-info {
  color: rgba(255, 255, 255, 0.7);
}

.updated-at {
  color: rgba(255, 255, 255, 0.7);
}

.large h3 {
  font-size: 65px;
}