.widget-text {
    background-color: #ec663c;
    height: 100%;
    width: 100%;
    text-align: center;
    /*width: inherit;*/
    /*height: inherit;*/
    /*display: table-cell;*/ /* Parent: "display: table;" */
    /*vertical-align: middle;*/
    /*line-height: ;*/
    /*display: flex;*/
    /*align-items: center;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
}

.title {
  color: rgba(255, 255, 255, 0.7);
}

.more-info {
  color: rgba(255, 255, 255, 0.7);
}

.updated-at {
  color: rgba(255, 255, 255, 0.7);
}

.large h3 {
  font-size: 65px;
}

.more-info {
    font-size: 15px;
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
}

.updated-at {
    font-size: 15px;
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
}

h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
}

h1 {
    margin-bottom: 12px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

h3 {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}