@inherits BaseWidget;

<div class="widget-text" style="background-color:@BackgroundColor">
    <h1 class="title">@Title</h1>

    <h3>@Text</h3>

    <p class="more-info">@MoreInfo</p>

    <p class="updated-at">@UpdatedAtMessage</p>
</div>