<div class="widget-text">
    <h1 class="title">@Title</h1>

    <h3>@Text</h3>

    <p class="more-info">@MoreInfo</p>

    <p class="updated-at">@UpdatedAtMessage</p>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string MoreInfo { get; set; }

    [Parameter]
    public string UpdatedAtMessage { get; set; }

}