@page "/"

@using Blashing.Core.Components.Clock;
@using Blashing.Core.Components.Comments;
@using Blashing.Core.Components.Graph;
@using Blashing.Core.Components.IFrame;
@using Blashing.Core.Components.Image;
@using Blashing.Core.Components.Text;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

<TextWidget Title="a" Text="b" MoreInfo="c" UpdatedAtMessage="d" />

<ClockWidget Date="23/06/2023" Time="20:53" />

<CommentsWidget Title="Comment 1" Quote="A rose by any other name would smell as sweet." MoreInfo="William Shakespeare" />

<GraphWidget Title="e" MoreInfo="f" />

<IFrameWidget Url="https://www.alexhedley.com/" />

<ImageWidget Src="https://www.alexhedley.com/images/icon-myapps.png" Width="100px" />
