@page "/demo"
<PageTitle>Demo</PageTitle>

<h3>Demo</h3>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                    <div class="col-md-9">
                        <TextWidget Title="Hello" Text="This is your shiny new dashboard" MoreInfo="Protio: You can drag the widgets around!" UpdatedAtMessage=""/>
                    </div>
                    <div class="col-md-3">
                        <MeterWidget Title="Synergy" MoreInfo="" UpdatedAtMessage="Last updated at 0:00" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <NumberWidget Title="Current Valuation" Current="$27" Difference="⬇️ 46%" MoreInfo="in billions" UpdatedAtMessage="Last updated at 0:00"/>
                    </div>
                    <div class="col-md-9">
                        <GraphWidget Title="Convergence" MoreInfo=""/>
                    </div>
                </div>
        </div>
        <div class="col-md-3">
            <ListWidget Title="Buzzwords" MoreInfo="# of times said around the office" UpdatedAtMessage="Last updated at 0:00" Items="@Items" />
        </div>
    </div>
</div>

@code {
    List<(string label, string value)>? Items = new() { ("Turn-key", "0"), ("Synergy", "4"), ("Exit strategy", "11"), ("Paridigm shift", "3"), ("Enterprise", "20"), ("Pivoting", "7"), ("Web 2.0", "16"), ("Leverage", "25"), ("Streamlininess", "9") };
}