.widget-clock {
    background-color: #dc5945;
    height: 100%;
    width: 100%;

    text-align: center;
/*    width: inherit;*/
/*    height: inherit;*/
/*    display: table-cell;*/
    vertical-align: middle;
}

h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
}

h1 {
    margin-bottom: 12px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

h2 {
    text-transform: uppercase;
    font-size: 76px;
    font-weight: 700;
    color: #fff;
}
