@inherits Blashing.Core.Components.BaseWidget;

<div class="widget-server-status-square" style="background-color:@BackgroundColor">
    <h1 class="title">@Title</h1>

    <p class="updated-at">@UpdatedAtMessage</p>
</div>