@using Excubo.Blazor.Grids

@page "/additional-widgets"

<PageTitle>Additional Widgets</PageTitle>

<h3>Additional Widgets</h3>

<div class="container">
    <div class="row">
        <div class="col">

            <h2>Server Status Square</h2>
            <ServerStatusSquareWidget Title="Server Status Square" UpdatedAtMessage="Last updated at 0:00"></ServerStatusSquareWidget>

        </div>
    </div>
    
    <div class="row">
        <div class="col">

            <h2>Circle CI Build Status</h2>
            <CircleCIBuildStatusWidget
                Title="Circle CI Build Status"
                BuildId="dev, build #1"
                AvatarUrl="https://gravatar.com/avatar/3184635da54b04bd362f09bad9aced67?s=200&d=mp"
                CommitterName="wavatar"
                CommitBody="Wrote Good Code"
                State="SUCCESS"
                Time="1h 36m ago"
                UpdatedAtMessage="Last updated at 0:00"
                BackgroundColor="#8fb347">
            </CircleCIBuildStatusWidget>
            
        </div>
    </div>
    
    <div class="row">
        <div class="col">

            <h2>Circle CI List</h2>
            <CircleCIBuildStatusListWidget 
                Title="Build Status"
                Items="@Items">
            </CircleCIBuildStatusListWidget>

        </div>
    </div>
</div>
        
<hr />

<Dashboard RowGap="1em" ColumnGap="1em" AspectRatio="1.5" ColumnCount="3" style="height: 750px; background-color: black;">
    
    <!-- Row 0 -->
    <Element Row="0" Column="0">
        <ServerStatusSquareWidget Title="Server Status Square" UpdatedAtMessage="Last updated at 0:00"></ServerStatusSquareWidget>
    </Element>
    
    <Element Row="0" Column="1">
        <ServerStatusSquareWidget Title="Success" UpdatedAtMessage="Last updated at 0:00" BackgroundColor="#96BF48"></ServerStatusSquareWidget>
    </Element>
    
    <Element Row="0" Column="2">
        <ServerStatusSquareWidget Title="Failed" UpdatedAtMessage="Last updated at 0:00" BackgroundColor="#BF4848"></ServerStatusSquareWidget>
    </Element>
    
    <!-- Row 1 -->
    <Element Row="1" Column="0">
        <CircleCIBuildStatusWidget
            Title="GoCardless"
            BuildId="dev, build #1"
            AvatarUrl="https://gravatar.com/avatar/3184635da54b04bd362f09bad9aced67?s=200&d=wavatar"
            CommitterName="wavatar"
            CommitBody="Wrote Good Code"
            State="SUCCESS"
            Time="1h 36m ago"
            UpdatedAtMessage="Last updated at 0:00"
            BackgroundColor="#8fb347">
        </CircleCIBuildStatusWidget>
    </Element>
    
    <Element Row="1" Column="1">
    </Element>
    
    <Element Row="1" Column="2">
        <CircleCIBuildStatusListWidget 
            Title="Build Status"
            Items="@Items">
        </CircleCIBuildStatusListWidget>
    </Element>
    
    <!-- Row 2 -->
    
</Dashboard>