@using Excubo.Blazor.Grids

@page "/additional-widgets"

<PageTitle>Additional Widgets</PageTitle>

<h3>Additional Widgets</h3>

<div class="container">
    <div class="row">
        <div class="col">

            <h2>Server Status Square</h2>
            <ServerStatusSquareWidget Title="ABC" UpdatedAtMessage="Last updated at 0:00"></ServerStatusSquareWidget>

        </div>
    </div>
</div>
        
<hr />

<Dashboard RowGap="1em" ColumnGap="1em" AspectRatio="1.5" ColumnCount="3" style="height: 750px; background-color: black;">
    
    <Element Row="0" Column="0">
        <ServerStatusSquareWidget Title="ABC" UpdatedAtMessage="Last updated at 0:00"></ServerStatusSquareWidget>
    </Element>
    
    <Element Row="0" Column="1">
        <ServerStatusSquareWidget Title="DEF" UpdatedAtMessage="Last updated at 0:00"></ServerStatusSquareWidget>
    </Element>
    
    <Element Row="0" Column="2">
        <ServerStatusSquareWidget Title="GHI" UpdatedAtMessage="Last updated at 0:00"></ServerStatusSquareWidget>
    </Element>
    
</Dashboard>