.widget-number {
    /*background-color: #47bbb3;*/
    height: 100%;
    width: 100%;
    text-align: center;
    /*width: inherit;*/
    /*height: inherit;*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}
   
.title {
    color: rgba(255, 255, 255, 0.7);
}

.value {
    color: #fff;
}

.change-rate {
    font-weight: 500;
    font-size: 30px;
    color: #fff;
}

.more-info {
    color: rgba(255, 255, 255, 0.7);
}

.updated-at {
    color: rgba(0, 0, 0, 0.3);
}

.more-info {
    font-size: 15px;
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
}

.updated-at {
    font-size: 15px;
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
}

h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
}

h1 {
    margin-bottom: 12px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

h2 {
    text-transform: uppercase;
    font-size: 76px;
    font-weight: 700;
    color: #fff;
}
