.widget-image {
    background-color: #4b4b4b;
    height: 100%;
    width: 100%;

    text-align: center;
/*    width: inherit;*/
/*    height: inherit;*/
/*    display: table-cell;*/
    vertical-align: middle;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

img, object {
    max-width: 100%;
}
