.widget-list {
    background-color: #12b0c5;
    vertical-align: top;
    height: 100%;
    width: 100%;
    text-align: center;
    /*    width: inherit;*/
    /*    height: inherit;*/
    /*    display: table-cell;*/
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/

    padding: 20px;
}

.title {
    color: rgba(255, 255, 255, 0.7);
}

ol, ul {
    margin: 0 15px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}

ol {
    list-style-position: inside;
}

li {
    margin-bottom: 5px;
}

.list-nostyle {
    list-style: none;
}

.label {
    color: rgba(255, 255, 255, 0.7);
}

.value {
    float: right;
    margin-left: 12px;
    font-weight: 600;
    color: #fff;
}

.updated-at {
    color: rgba(0, 0, 0, 0.3);
}

.more-info {
    color: rgba(255, 255, 255, 0.7);
}

.more-info {
    font-size: 15px;
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
}

.updated-at {
    font-size: 15px;
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
}

h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
}

h1 {
    margin-bottom: 12px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

ul, ol {
    padding: 0;
    margin: 0;
}
