@inherits BaseWidget;

<div class="widget-comments" style="background-color:@BackgroundColor">
    <h1 class="title">@Title</h1>
    <div class="comment-container">
        <h3><img data-bind-src='current_comment.avatar'/><span data-bind='current_comment.name' class="name"></span></h3>
        <p class="comment">@Quote</p>
    </div>

    <p class="more-info">@MoreInfo</p>
</div>
