@inherits BaseWidget;

<div class="widget-graph" style="background-color:@BackgroundColor">
    @if (Points != null && Points.Any())
    {
        <svg viewBox="0 0 @SvgViewBoxWidth @SvgViewBoxHeight" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"
             width="100%" height="100%">
            <path d="@GenerateSvgPath()" fill="white" />
        </svg>
    }

    <h1 class="title">@Title</h1>

    @if (!string.IsNullOrEmpty(Current))
    {
        <h2 class="value">@Prefix@Current@Suffix</h2>
    }

    <p class="more-info">@MoreInfo</p>
</div>

@code {
    
}
